.cf {
  margin-bottom: 0px;
}

.cf__hd {
  font-size: 18.9px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 12.37px;
  color: #111;
}

.cf__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.cf__tag {
  font-size: 15.75px;
  font-weight: 400;
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fff;
  color: #333;
  text-align: center;
  white-space: nowrap;
}

.cf__tag--hl {
  background: #ffe1e1;
  border: 1px solid #333;
  color: #111;
  font-weight: 700;
}

.csp2 {
  margin-top: 25.99px;
}

.csp2__hd {
  font-size: 18.9px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 11.59px;
  color: #111;
}

.csp2__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.csp2__tag {
  font-size: 17.325px;
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fff;
  color: #333;
   margin-bottom: 51.97px;
}

.csp2__tag--hl {
  background: #ffe1e1;
  border: 1px solid #333;
  color: #111;
  font-weight: 600;
}